/* body.blurred {
  filter: blur(3px);
  transition: filter 0.3s ease;

} */

.no-scroll {
  overflow: hidden;
}

@font-face {
  font-family: "CustomFontName";
  src: url("./fonts/GeneralSans-Variable.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "GeneralSans", sans-serif;
}

.dropdown-menu.active {
  box-sizing: border-box;
  width: 70%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  overflow: visible;
  transform: rotate(-4deg);
  align-content: center;
  gap: 20;
  position: absolute;
  top: 80px;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
}
.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10%);
  transition: 500ms ease;
  width: 70%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  overflow: visible;
  transform: rotate(2deg);
  align-content: center;
  gap: 20;
  position: absolute;
  top: 70px;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
}

.popoverOverlay.active {
  position: fixed;
  top: 0;
  left: 0;
  height: 200vh;
  width: 100vw;
  display: block;
  background-color: rgba(207, 207, 207, 0.5);
  z-index: 100;
  backdrop-filter: blur(5px);
}
.popoverOverlay.inactive {
  opacity: 0;
  display: none;
  position: absolute;
}

.popover.active {
  animation: popIn 300ms ease forwards;
}
/* 
.popover.inactive {
  animation: popOut 300ms ease forwards;
} */

@keyframes popIn {
  0% {
    transform: scale(0.95);
    opacity: 0;
    transform-origin: center;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    transform-origin: center;
  }
}
/* @keyframes popOut {
  0% {
    transform: scale(1);
    opacity: 1;
    transform-origin: center;
  }
  100% {
    transform: scale(0);
    opacity: 0;
    transform-origin: center;
  }
} */

.services-tabs {
  color: black;
  height: 64px;
  transition: height 300ms ease, background-color 500ms ease, color 300ms ease;
  border-radius: 10px;
}

.services-tabs.active {
  background-color: black;
  color: white;
  height: 190px;

  border-radius: 15px;
}
